In [1]:
import numpy as np

In [5]:
#Generate some random data
data = np.random.randn(2, 3)
data

array([[-0.1795086 , -0.70719067, -0.46910402],
       [-1.23204898,  1.73091153, -0.2505849 ]])

In [6]:
# I then write mathmatical operation with data:
data *10

array([[ -1.79508597,  -7.07190666,  -4.69104019],
       [-12.3204898 ,  17.30911527,  -2.505849  ]])

In [7]:
data + data

array([[-0.35901719, -1.41438133, -0.93820804],
       [-2.46409796,  3.46182305, -0.5011698 ]])

In [9]:
# Array Shape and data type.
# An ndarray is a generic multidimensional container for homogeneous data [different from a python list]
#Every array has ashape, atuple indicating the size of each dimension, and a dtype, an object describing the data type of the array.

data.shape

(2, 3)

In [10]:
data.dtype

dtype('float64')

In [12]:
# The easiest way to create an array is to use the array function. This accepts any sequence-like object (including other arrays) and produces a new Numpy array containing the passed data.
data1 =[6,7.5,8,0,1]

In [13]:
arr1 =np.array(data1)
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [14]:
# create Multidimension arrays.
#nested sequences,  like a list of equal-lingth list, will be converted into a multidimensional array.

data2 =[[1,2,3,4],[5,6,7,8]]
arr2=np.array(data2)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [15]:
arr2.ndim #The ndim is the same as the number of axes or the length of the output.

2

In [16]:
arr2.shape

(2, 4)

In [17]:
arr1.dtype

dtype('float64')

In [18]:
arr2.dtype

dtype('int32')

In [19]:
#More Examples
#In addition to np.array, threr are a number of other function for creating new array. As examples, zeros and ones create arrayof 0s or 1s,
#respectivly, with a given length or shape.empty creates an array without  initializing its values to any particular value.
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [20]:
np.zeros((3,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [23]:
np.empty((2, 3, 2))

array([[[1.29567451e-311, 3.16202013e-322],
        [0.00000000e+000, 0.00000000e+000],
        [7.56599806e-307, 8.00521137e+169]],

       [[1.21647480e-046, 2.21368704e+160],
        [4.28448182e-037, 5.39386230e-062],
        [3.80130519e+175, 1.26709021e-071]]])

In [24]:
#arange is an array-valued version of the built in python range function:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [25]:
# the data type or dtype is aspecial object containing the information (or metadata, data about data) the ndarray needs to interpret a chunk of memry as a particular type of data:
arr1 =np.array([1,2,3], dtype=np.float64)
arr2 =np.array([1,2,3], dtype=np.int32)

In [26]:
arr1.dtype

dtype('float64')

In [27]:
arr2.dtype

dtype('int32')

In [28]:
arr=np.array([1,2,3,4,5])

In [29]:
arr.dtype

dtype('int32')

In [32]:
float_arr =arr.astype(np.float64)

In [33]:
float_arr.dtype

dtype('float64')

In [34]:
#in this example, integer wer cast to floating point. if i cas some floating-point number to be of integer dtype, the decimal part will be truncated.:
arr=np.array([3.7,-1.2,-2.6, 0.5, 12.9, 10.1])
arr.astype(np.int32)

array([ 3, -1, -2,  0, 12, 10])

In [35]:
arr

array([ 3.7, -1.2, -2.6,  0.5, 12.9, 10.1])

In [36]:
arr.astype(np.int32)

array([ 3, -1, -2,  0, 12, 10])

In [37]:
#if you have an array of strings representing number youa can use astype  to convert them to numeric form:

numeric_strings=np.array(['1.25','-9.6','42'],dtype=np.string_)
numeric_strings.astype(float)

array([ 1.25, -9.6 , 42.  ])